#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-container {
  width: 100vw;
  z-index: 100;
  display: flex;
  
}

.Name {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100vw;
}

.pfp {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.4rem solid #3a3a3a;
  background-color: #242424;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTA-Button {
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100vw;
}

.App-container button {
  font-size: 1.5rem;
  width: calc(100vw - 2rem);
  max-width: 30rem;
  background-color: #242424;
  border: 0.2rem solid #3a3a3a;
}